.main {
  margin-top: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.uploadFile {
  width: 20em;
  height: 15em;
  background-image: url("uploadImage.png");
  background-color: lightcyan;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}


.uploadFile:hover {
  background-color:lightblue;
}

.uploadFile::file-selector-button {
  width: 30em;
  height: 20em;
  background-color: lightcyan;
  visibility: hidden;
}

.uploadButton {
  width: 15em;
  height: 2em;
  border-radius: 100pt;
}

.uploadButton:hover {
  background-color: gainsboro;
}

.graphs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

label {
  font-size: 25pt;
  font-weight: bold;
}
